.add-list-component {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px 10px 20px;
    background: #679be9;
    border-radius: 10px;
}