.board-component {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.list-block {
    display: inline-flex;
    flex-direction: column;
    background: #fefefe;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgba(#000, 0.23);
    position: relative;
}

.list-block_button {
    padding: 0;
}