.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    border: solid 1px #777;
    color: #777;
    background: #fff;
    border-radius: 3px;
    border: none;
    font-size: 22px;
    transition: all .5s;
}

.button:disabled {
    cursor: not-allowed;
}

.button_round {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 10px;
    margin-bottom: 20px;
    color: #f55;
    font-weight: bold;

    &:hover {
        background: #f55;
        color: #fff;
    }
}

.button_absolute_top {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    transform: translate(-5px, 5px);
}

.button_absolute_left {
    @extend .button_absolute_top;
    top:50%;
    right: 100%;
    transform: translate(-5px, -10px);
}

.button_square {
    background: #00a018;
    box-shadow: inset 0 0 10px 3px rgba(#9fe7a4, .5);
    color: #ffffff;
    border-radius: 10px;
    padding: 50px 67px;

    &:hover {
        box-shadow: inset 0 0 10px 3px rgba(#000, .35);
    }
}

.button_task {
    margin-left: auto;
    padding: 5px 10px;
    font-size: 12px;
    background: none;
    color: #000;
    font-weight: bold;
}