.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    border: solid 1px #777;
    color: #777;
    background: #fff;
    border-radius: 3px;
}

.button:hover {
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
    transition: all .3s;
}

.button:disabled {
    cursor: not-allowed;
}