.content {
    padding: 10px 0;
    flex-grow: 1;
}

.board__list {
    display: flex;
    flex-wrap: wrap;
}

.board__item {
    margin: 10px;
    list-style: none;
}

.board__link {
    display: flex;
    padding: 50px;
    font-size: 22px;
    color: #333;
    text-decoration: none;
    background: #fefefe;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgba(#000, 0.3);
    transition: all .5s;

    &:hover {
        box-shadow: inset 0 0 7px 3px rgba(#000, 0.25);
    }
}