.list-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 20px;
    padding: 20px 0;
    color: #eee;
    text-align: center;
    border-bottom: solid 1px #eee;
    width: 100%;
}