.task-component {
    display: flex;
    list-style: none;
    color: #eee;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 500;
    transition: all .5s;
    cursor: grab;
}

.task-component__text {
    display: inline-flex;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.active-task {
    background: linear-gradient(0deg, #00a018, #9fe7a4);
    box-shadow: inset 0 0 5px 3px rgba(#00a018, .5);

    &:hover {
        box-shadow: inset 0 0 5px 3px rgba(#000, .5);
    }
}

.finished-task {
    background: linear-gradient(0deg, #ff0c00, #ff7674);
    box-shadow: inset 0 0 5px 3px rgba(#ff5e59, .5);

    .task-component__text {
        text-decoration: line-through;
    }

    &:hover {
        box-shadow: inset 0 0 5px 3px rgba(#000, .35);
    }
}